/* header {
  overflow: hidden;
} */

header {
  background: var(--landing);
}

header nav {
  background: var(--section);
  box-shadow: 0 0 5px #ddd;
}

header .name {
  color: var(--primary);
  font-weight: bold;
}

header nav a {
  text-decoration: none;
  color: var(--color);
  margin: 0 10px;
  transition: var(--transition) color;
}

header nav a:hover {
  color: var(--primary);
}

header nav .fa-bars {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  header nav .parent {
    width: 100%;
    position: relative;
  }

  header nav .links {
    position: absolute;
    background: var(--section);
    top: 45px;
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
    height: 0;
    overflow: hidden;
    transition: 0.5s height;
  }

  header nav a {
    text-align: center;
    padding: var(--padding);
    margin: 0;
    transition: var(--transition) background;
  }

  header nav a:hover {
    background: var(--primary);
    color: white;
  }

  header nav .fa-bars {
    display: block;
  }
}

/* portfolio */
/* .left */
header .landing .left {
  justify-content: center;
}

header .landing .caption span:nth-child(1) {
  color: var(--primary);
}

header .landing .caption span:nth-child(2) {
  color: var(--danger);
}

/* .right */
header .landing .parent {
  min-height: calc(100vh - 64px);
}

header .landing .right {
  display: flex;
  /* justify-content: flex-end;
  align-items: center; */
  padding: 0;
  align-items: flex-end;
}

@media (max-width: 992px) {
  header {
    overflow: visible;
  }

  header .landing .parent {
    flex-direction: column;
    margin: 50px auto;
    min-height: 100vh;
  }

  header .landing .right {
    justify-content: center;
  }
}

header .landing .photo {
  width: 500px;
  display: flex;
  align-items: flex-end;
}

@media (min-height: 900px) {
  header .landing .right {
    justify-content: center;
    align-items: center;
  }
}

header .landing .photo img {
  width: 100%;
}

header .blob {
  position: absolute;
  z-index: -1;
}

@media (max-width: 768px) {
  header .landing .photo {
    width: 300px;
  }

  header .blob {
    width: 300px;
  }
}

/* Sections */
section {
  min-height: 100vh;
}

/* About */
.about > .parent {
  min-height: 100vh;
}

.about .parent .left {
  justify-content: center;
  align-items: center;
  width: 300px;
}

.about .parent .right {
  justify-content: center;
}

.about .parent .right .g-label {
  margin: 20px 0;
}

.about .parent .right .des {
  margin: 40px 0 40px 20px;
}

@media (max-width: 992px) {
  .about .left {
    width: 100% !important;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }

  .about .left img {
    width: 250px;
  }

  .about .parent {
    margin: 40px auto;
  }

  .about .parent {
    flex-direction: column;
  }
}
